<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreDataTutorialFinal2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F23D4391E35C8CA00A8FA78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F23D4501E35C8CA00A8FA78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F23D45B1E35C8CA00A8FA78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
